<div class="row d-flex justify-content-center">
  <div class="col-md-6 col-12">
    <div class="address-bar d-flex justify-content-center">
      <h2 class="card border-dark border-2 text-center" style="max-width: 24rem;" id="formattedAddress">{{mapLocation}}</h2>
    </div>
    <div class="map-container">
      <iframe
        width="100%"
        height="450"
        style="border:0"
        loading="lazy"
        allowfullscreen
        referrerpolicy="no-referrer-when-downgrade"
        src="https://www.google.com/maps/embed/v1/place?key={{mapAPI}}&q={{mapLocation}}">
      </iframe>
    </div>
  </div>
  <div class="row mt-4 d-flex justify-content-center">
  <div class="col-md-12 col-12">
    <!-- Comment Button -->
    <div class="row justify-content-center">
      <button class="btn btn-primary" id="addCommentBtn">Add Comment</button>
    </div>
    {{#if reviews.length}}
    <div class="row mt-2">
      {{#each reviews as |review|}}
      <div class="col-md-4 col-12 form-bg">
        <div class="box">
          <!-- Content for the first box -->
          <div class="username">{{review.user.name}}</div>
          <h3 class="post-title">{{review.title}}</h3>
          <div class="comment">{{review.comment}}</div>
        </div>
      </div>
      {{/each}}
    </div>
    {{/if}}
  </div>

  <script src="./js/review.js"></script>